basePath: /api/v1
definitions:
  auth_request.ConfirmSmsRequest:
    properties:
      code:
        type: integer
      sessionId:
        type: string
    required:
    - code
    - sessionId
    type: object
  auth_request.LoginRequest:
    properties:
      phoneNumber:
        type: string
    required:
    - phoneNumber
    type: object
  auth_request.ResendSmsRequest:
    properties:
      sessionId:
        type: string
    required:
    - sessionId
    type: object
  partners_request.PartnerRequest:
    properties:
      id:
        type: integer
    type: object
  partners_request.PartnersRequest:
    type: object
  user_request.GetMeRequest:
    type: object
  user_request.RefreshTokenRequest:
    properties:
      refreshToken:
        type: string
    required:
    - refreshToken
    type: object
host: api.qahvazor.uz
info:
  contact:
    email: davronbekov.o@itv.uz
  title: Qahvazor | Api
  version: 1.0.0
paths:
  /auth/confirm-sms:
    post:
      consumes:
      - application/json
      parameters:
      - description: Confirm Sms Request
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth_request.ConfirmSmsRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - Auth
  /auth/login:
    post:
      consumes:
      - application/json
      parameters:
      - description: Login Request
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth_request.LoginRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - Auth
  /auth/resend-sms:
    post:
      consumes:
      - application/json
      parameters:
      - description: Resend Sms Request
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth_request.ResendSmsRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - Auth
  /partners:
    get:
      consumes:
      - application/json
      parameters:
      - description: Partners list
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/partners_request.PartnersRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - Partners
  /partners/partner:
    get:
      consumes:
      - application/json
      parameters:
      - description: Partner Detail
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/partners_request.PartnerRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - Partners
  /user/get-me:
    get:
      consumes:
      - application/json
      parameters:
      - description: Get me
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/user_request.GetMeRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - User
  /user/refresh-token:
    get:
      consumes:
      - application/json
      parameters:
      - description: Get me
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/user_request.RefreshTokenRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - User
swagger: "2.0"
