basePath: /api/v1
definitions:
  auth_request.ConfirmSmsRequest:
    properties:
      code:
        type: integer
      sessionId:
        type: string
    required:
    - code
    - sessionId
    type: object
  auth_request.LoginRequest:
    properties:
      phoneNumber:
        type: string
    required:
    - phoneNumber
    type: object
  auth_request.ResendSmsRequest:
    properties:
      sessionId:
        type: string
    required:
    - sessionId
    type: object
  user_request.LogoutRequest:
    type: object
host: api.qahvazor.uz
info:
  contact:
    email: davronbekov.o@itv.uz
  title: Qahvazor | Api
  version: 1.0.0
paths:
  /auth/confirm-sms:
    post:
      consumes:
      - application/json
      parameters:
      - description: Confirm Sms Request
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth_request.ConfirmSmsRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - Auth
  /auth/login:
    post:
      consumes:
      - application/json
      parameters:
      - description: Login Request
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth_request.LoginRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - Auth
  /auth/resend-sms:
    post:
      consumes:
      - application/json
      parameters:
      - description: Resend Sms Request
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth_request.ResendSmsRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - Auth
  /partners:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      tags:
      - Partners
  /partners/partner:
    get:
      consumes:
      - application/json
      parameters:
      - in: query
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses: {}
      tags:
      - Partners
  /shops/partner-shops:
    get:
      consumes:
      - application/json
      parameters:
      - in: query
        name: partnerId
        required: true
        type: integer
      produces:
      - application/json
      responses: {}
      tags:
      - Partners
  /shops/shop:
    get:
      consumes:
      - application/json
      parameters:
      - in: query
        name: shopId
        required: true
        type: integer
      produces:
      - application/json
      responses: {}
      tags:
      - Shops
  /user/get-me:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      tags:
      - User
  /user/logout:
    post:
      consumes:
      - application/json
      parameters:
      - description: Logout from an account
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/user_request.LogoutRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - User
  /user/refresh-token:
    patch:
      consumes:
      - application/json
      parameters:
      - in: query
        name: refreshToken
        required: true
        type: string
      produces:
      - application/json
      responses: {}
      tags:
      - User
swagger: "2.0"
