basePath: /api
definitions:
  auth_request.ConfirmSmsRequest:
    properties:
      code:
        type: integer
      sessionId:
        type: string
    required:
    - code
    - sessionId
    type: object
  auth_request.LoginRequest:
    properties:
      phoneNumber:
        type: string
    required:
    - phoneNumber
    type: object
  auth_request.ResendSmsRequest:
    properties:
      sessionId:
        type: string
    required:
    - sessionId
    type: object
  subscriptions_request.BuySubscriptionRequest:
    properties:
      subscriptionId:
        type: integer
    type: object
  user_orders_request.CreateRequest:
    properties:
      drinkId:
        type: integer
      shopId:
        type: integer
      vendorAddOnId:
        type: string
    type: object
  user_orders_request.ValidateOrderRequest:
    properties:
      drinkId:
        type: integer
      shopId:
        type: integer
    type: object
  user_request.LogoutRequest:
    type: object
  vendors_poster_request.WebhookRequest:
    properties:
      account:
        type: string
      account_number:
        type: string
      action:
        type: string
      object:
        type: string
      object_id:
        type: integer
      time:
        type: string
      verify:
        type: string
    type: object
host: api.hoopla.uz
info:
  contact:
    email: davronbekov.o@itv.uz
  title: Hoopla | Api
  version: 1.0.0
paths:
  /v1/auth/confirm-sms:
    post:
      consumes:
      - application/json
      parameters:
      - description: Confirm Sms Request
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth_request.ConfirmSmsRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - Auth
  /v1/auth/login:
    post:
      consumes:
      - application/json
      parameters:
      - description: Login Request
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth_request.LoginRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - Auth
  /v1/auth/resend-sms:
    post:
      consumes:
      - application/json
      parameters:
      - description: Resend Sms Request
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/auth_request.ResendSmsRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - Auth
  /v1/shops/near-shops:
    get:
      consumes:
      - application/json
      parameters:
      - in: query
        name: lat
        required: true
        type: number
      - in: query
        name: long
        required: true
        type: number
      - in: query
        name: name
        type: string
      produces:
      - application/json
      responses: {}
      tags:
      - Shops
  /v1/shops/shop:
    get:
      consumes:
      - application/json
      parameters:
      - in: query
        name: shopId
        required: true
        type: integer
      produces:
      - application/json
      responses: {}
      tags:
      - Shops
  /v1/subscriptions:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      tags:
      - Subscriptions
  /v1/subscriptions/buy:
    post:
      consumes:
      - application/json
      parameters:
      - description: Buy Subscription
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/subscriptions_request.BuySubscriptionRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - Subscriptions
  /v1/user/deactivate:
    delete:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      tags:
      - User
  /v1/user/generate-qr-code:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      tags:
      - QR
  /v1/user/get-me:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      tags:
      - User
  /v1/user/logout:
    post:
      consumes:
      - application/json
      parameters:
      - description: Logout from an account
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/user_request.LogoutRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - User
  /v1/user/orders/create:
    post:
      consumes:
      - application/json
      parameters:
      - description: New order
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/user_orders_request.CreateRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - User/Orders
  /v1/user/orders/drinks-stat:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      tags:
      - User
  /v1/user/orders/orders-list:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      tags:
      - User/Orders
  /v1/user/orders/validate-order:
    post:
      consumes:
      - application/json
      parameters:
      - description: Validate new order
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/user_orders_request.ValidateOrderRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - User/Orders
  /v1/user/pay/services:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses: {}
      tags:
      - User/Pay
  /v1/user/pay/top-up:
    get:
      consumes:
      - application/json
      parameters:
      - in: query
        name: amount
        required: true
        type: number
      - in: query
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses: {}
      tags:
      - User/Pay
  /v1/user/refresh-token:
    patch:
      consumes:
      - application/json
      parameters:
      - in: query
        name: refreshToken
        required: true
        type: string
      produces:
      - application/json
      responses: {}
      tags:
      - User
  /vendors/iiko/webhook:
    post:
      consumes:
      - application/json
      parameters:
      - description: Webhook for iiko
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/vendors_poster_request.WebhookRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - IIKO
  /vendors/poster/oauth:
    get:
      consumes:
      - application/json
      parameters:
      - in: query
        name: account
        type: string
      - in: query
        name: code
        type: string
      produces:
      - application/json
      responses: {}
      tags:
      - Poster
  /vendors/poster/webhook:
    post:
      consumes:
      - application/json
      parameters:
      - description: Webhook for poster
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/vendors_poster_request.WebhookRequest'
      produces:
      - application/json
      responses: {}
      tags:
      - Poster
swagger: "2.0"
